* {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

/* Header Section */

.header-bg {
  background-image: url("./images/bg-header-desktop.png");
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  background-image: url(./images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}

/* Home Section */

.home {
  text-align: center;
}

.home-head {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  font-size: 2.4rem;
  position: relative;
  top: -2.1rem;
}

.home-para {
  color: hsl(201, 11%, 66%);
  font-size: 1.15rem;
  font-weight: 400;
  padding: 0.2rem 23rem;
}

.home-buttons {
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  padding: 1.1rem 2.5rem;
  margin: 2.2rem 0.5rem;
}

.home-button1 {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 1px 20px hsl(170, 84%, 81%);
  border-bottom: 3px solid hsl(171, 65%, 35%);
  transition: all  0.7s ease-in-out;
}

.home-button2 {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 1px 20px hsl(234, 87%, 85%);
  border-bottom: 3px solid hsl(233, 50%, 46%);
  transition: all  0.7s ease-in-out;
}

.home-button1:hover {
  background-color: hsl(171, 44%, 62%);
  border-bottom: 3px solid hsl(171, 62%, 43%);
  scale: 0.9;
}

.home-button2:hover {
  background-color: hsl(233, 63%, 75%);
  border-bottom: 3px solid hsl(233, 57%, 62%);
    scale: 0.9;
}

/* About Section */

.about {
  margin-top: 5rem;
  text-align: center;
}

.about-head {
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  padding: 1.2rem;
}

.about-para {
  color: hsl(201, 11%, 66%);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.3rem;
  line-height: 1.5rem;
}

/* About Options */

.about-ops {
  height: 700px;
  display: flex;
  align-items: center;
}

.ops-img {
  background-image: url("./images/image-computer.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 55%;
  height: 630px;
  position: relative;
  left: -3rem;
  margin-top: 3rem;

  opacity: 0;
  scale: 0.4;
  animation: img-animation linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes img-animation {
  to {
    scale: 1;
    opacity: 1;
  }
}

.ops {
  height: 450px;
  width: 26%;
  margin-left: 2rem;
}

.ops-head {
  color: hsl(210, 10%, 33%);
  font-size: 1.4rem;
  padding: 1.5rem 1rem 0rem 1rem;
  text-align: left;
}

.ops-para {
  color: hsl(201, 11%, 66%);
  font-size: 1rem;
  padding: 1rem;
  text-align: left;
  line-height: 1.5rem;
}

/* Access Section */

.access {
  text-align: center;
  padding-top: 3rem;
}

.access-head {
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  padding: 1.2rem;
}

.access-para {
  color: hsl(201, 11%, 66%);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.3rem 22rem;
  line-height: 1.5rem;
}

.access-img {
  background-image: url("./images/image-devices.png");
  background-size: cover;
  height: 500px;
  width: 65%;
  margin: auto;
  margin-top: 6rem;

  opacity: 0;
  scale: 0.4;
  animation: img-animation linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

/* Tools Section */

.tools {
  text-align: center;
}

.tools-head {
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  padding-top: 7rem;
}

.tools-para {
  color: hsl(201, 11%, 66%);
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1.2rem;
}

.tools-ops {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.options {
  height: 200px;
  text-align: center;
  width: 25%;
  margin: 0rem 1.5rem;
  transition: all 1s ease-in-out;
}

.options:hover {
 transform: translateY(-10px);
}

.options h3 {
  color: hsl(210, 10%, 33%);
  font-size: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.options p {
  color: hsl(201, 11%, 66%);
  font-size: 1rem;
  line-height: 1.5rem;
}

.first-img {
  margin: auto;
  background-image: url("./images/icon-blacklist.svg");
  background-size: cover;
  width: 45px;
  height: 40px;
}

.second-img {
  margin: auto;
  background-image: url("./images/icon-text.svg");
  background-size: cover;
  width: 45px;
  height: 40px;
}

.third-img {
  margin: auto;
  background-image: url("./images/icon-preview.svg");
  background-size: cover;
  width: 63px;
  height: 40px;
}

/* Platforms Section */

.platforms {
  display: flex;
  justify-content: space-evenly;
  margin-top: 9rem;
}

.plat-google {
  background-image: url("./images/logo-google.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 160px;
  width: 160px;
  transition: all 1s ease-in-out 0s;
}

.plat-ibm {
  background-image: url("./images/logo-ibm.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 160px;
  width: 160px;
  transition: all 1s ease-in-out 0s;
}

.plat-microsoft {
  background-image: url("./images/logo-microsoft.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 160px;
  width: 160px;
  transition: all 1s ease-in-out 0s;
}

.plat-hp {
  background-image: url("./images/logo-hp.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 160px;
  width: 160px;
  transition: all 1s ease-in-out 0s;
}

.plat-vector {
  background-image: url("./images/logo-vector-graphics.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 160px;
  width: 160px;
  transition: all 1s ease-in-out;
}

.platforms div:hover {
  transform: scale(0.8);
}

/* Download Section */

.download {
  text-align: center;
}

.download-head {
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  padding-top: 3rem;
}

.download-para {
  color: hsl(201, 11%, 66%);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1.2rem 20rem;
  line-height: 1.5rem;
}

/* Footer Section */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(240, 8%, 95%);
  height: 150px;
  margin-top: 5rem;
}

.foot-logo {
  display: flex;
  justify-content: center;
  width: 20%;
}

.foot-logo div {
  background-image: url("./images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 40%;
}

.foot-boxs {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.boxs {
  margin-right: 5rem;
}

.boxs a {
  color: hsl(210, 10%, 33%);
  display: block;
  text-decoration: none;
  line-height: 2.5rem;
  font-size: 1.1rem;
}

.boxs a:hover {
  color: hsl(171, 66%, 44%);
}

.foot-icons {
  display: flex;
  color: hsl(210, 10%, 33%);
  width: 20%;
}

.icons {
  padding-left: 1.3rem;
  font-size: 1.7rem;
  scale: 1;
  /* transition: all  ease-in-out; */
}

.icons:hover {
  color: hsl(171, 66%, 44%);
  scale: 1.2;
}

/* Responsiveness */

@media screen and (max-width: 1440px) {

  .home-para,
  .access-para,
  .download-para {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 3rem;
  }

  .ops {
    max-width: 450px;
  }

  .tools-ops {
    max-width: 1100px;
    margin: 5rem auto;
  }

  .platforms {
    max-width: 1200px;
    margin: 9rem auto 0rem auto;
  }

  .download-para {
    padding: 1.2rem 0rem;
  }

  footer {
    padding: 0 10rem;
  }
}

@media screen and (max-width: 1024px) {

  .home-para,
  .access-para {
    padding: 0 8rem;
  }

  .about-ops {
    flex-direction: column;
    height: auto;
    margin-left: 0rem;
  }

  .ops-img {
    width: 50%;
    height: 400px;
    position: static;
    margin: 3rem auto;
  }

  .ops {
    width: 60%;
  }

  .access {
    padding-top: 0rem;
  }

  .access-img {
    width: 60%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .tools-head {
    padding-top: 4rem;
  }

  .tools-ops {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .options {
    width: 40%;
    margin: 0 auto;
  }

  .platforms {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .download-para {
    padding: 1.2rem 8rem;
  }

  footer {
    flex-wrap: wrap;
    height: auto;
    text-align: center;
    padding: 2rem 0;
  }

  .foot-logo,
  .foot-boxs,
  .foot-icons {
    width: 100%;
    justify-content: center;
    margin: 1rem 0;
  }

  .foot-logo div {
    width: 4%;
  }

  .boxs {
    margin: 0 2rem;
  }

  .icons {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {

  .home-para .access-para,
  .about-para {
    padding: 0 2rem;
    font-size: 1rem;
  }

  .download-para {
    font-size: 1rem;
    padding: 1.2rem 8rem;
  }

  .home-head {
    font-size: 1.8rem;
  }

  .about-head,
  .access-head,
  .tools-head,
  .download-head {
    font-size: 1.5rem;
  }

  .ops-head {
    font-size: 1rem;
    padding: 1.5rem auto 0rem auto;
  }

  .ops-img {
    margin: 3rem auto 0rem auto;
    height: 300px;
  }

  .options h3 {
    font-size: 1.2rem;
  }

  .access-img {
    height: 300px;
    text-align: center;
  }

  .tools-ops {
    flex-direction: column;
    align-items: center;
  }

  .options {
    width: 60%;
    height: auto;
  }

  .home-buttons {
    display: block;
    width: 50%;
    margin: 2rem auto;
  }

  .foot-boxs {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .foot-logo div {
    width: 8%;
  }
}

@media screen and (max-width: 480px) {
  .home-head {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 4rem;
  }

  .about-head,
  .access-head,
  .tools-head,
  .download-head {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 4rem;
  }

  .access-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 4rem 0rem 4rem;
  }

  .home-para,
  .access-para {
    padding: 0 1rem;
    font-size: 0.9rem;
  }

  .about-para {
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  .download-para {
    font-size: 1rem;
    padding: 1.2rem 1rem;
  }

  .home-buttons {
    width: 60%;
  }

  .ops-img {
    height: 200px;
  }

  .access-img {
    height: 200px;
  }

  .options {
    width: 70%;
  }

  .platforms {
    flex-direction: column;
    align-items: center;
  }

  .platforms div {
    width: 100px;
    height: 100px;
  }

  .boxs a {
    font-size: 1rem;
  }

  .icons {
    font-size: 1.3rem;
  }
}